.cardContainer {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .card {
    margin-right: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
    height: 350px;
    max-height: 350px;
    width: 250px;
    max-width: 250px;
  }
  
  .image {
    max-height: 150px;
    width: auto;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 3px;
    object-fit: contain;
    margin-bottom: 5px;
    margin-right: 10px;
  }
  
  
  
  .numb {
    max-width: 25px;
    background-color: #0c1215;
    border: 0;
    color: whitesmoke;
    justify-content: center;
  }
  
  .wrap {
    display: flex;
    justify-content: space-between;
    color: blue;
  }
  
  .wrapRight {
    margin-left: auto;
    color: blue;
  }
  
  .wrapLeft {
    margin-right: auto;
  }